@font-face {
	font-family: 'Latin';
	src: url('../fonts/lmromandunh10-regular.html') format('woff2'),
		 url('../fonts/lmromandunh10-regular.woff') format('woff');
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria-light-webfont.html') format('woff2'),
		 url('../fonts/geometria-light-webfont.woff') format('woff');
	font-weight:300;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria.html') format('woff2'),
		 url('../fonts/geometria.woff') format('woff');
	font-weight:400;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria-medium.html') format('woff2'),
		 url('../fonts/geometria-medium.woff') format('woff');
	font-weight:600;
}


@font-face {
	font-family: 'De Valencia';
	src: url('../fonts/de_valencia_beta.html') format('woff2'),
		 url('../fonts/de_valencia_beta.woff') format('woff');
}